/*.gallery .h1new{
position: absolute;
top: 5px;
text-align: center;
}

.gallery .pnew{
    position: absolute;
    top: 52px;       
    text-align: center;
}
.gallery .content h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}


.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 100px 0;}*/                        /* first 50px margin  */


/*
.gallery .content{
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgb(31, 28, 28),
    0 10px 10px rgb(32, 32, 32);
    transition: .4s;
    background: white;
}

.content:hover{
    box-shadow: 0 3px 6px black,
    0 3px 6px rgb(41, 21, 21);
    transform: translate(0px, -8px);
}

.gallery .content img{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;

}
.gallery .content p{
    text-align: center;
    color: rgb(243, 30, 190);
    padding-top: 0 8px;
}

.gallery .content h6{
    font-size: 26px;
    text-align: center;
    color:darkslategray;
    margin: 0;
}
.gallery .content button{
    text-align: center;
    font-size: 24px;
    color: white;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.gallery .content .buy-1{
    background-color: rgb(255, 0, 149);
}*/



.main .li1{
    width: auto;
}
.main{
    width: 100%;
     float: left;
     height: auto;
     background: #f5fafe;
     padding: 100px 20px;
}
.container .main ul{
    width: 100%;
     float: left;
     height: auto;
     list-style: none;
     margin: 0;
     padding: 0;
}